#title , #main-container {
  text-align: center;
}

#color-palette { list-style-type: none; }

.color {
  border: 1px solid black;
  display: inline-block;
  width: 70px;
  height: 70px;
}

#pixel-board {
  display: inline-block;
  padding: 50px;
}

#pixel-board , .pixel {
  padding: 0;
  border: 1px solid;
  border-collapse: collapse;
}

.pixel {
  background-color: white;
  width: 41px;
  height: 41px;
}
